[(#REM)
	Affiche les traductions disponibles d'un article.
	La langue de l'article courant s'affiche en gras, sans lien.
][(#REM)

	Note : le lien <a rel="alternate" hreflang="xx" ...> indique qu'il
	s'agit d'une traduction (version alternative dans la langue xx)

]<BOUCLE_article(ARTICLES){id_article}>
<B_traductions>
<h3><:trad_article_traduction:></h3>
    <ul class="list-arrow">
	<BOUCLE_traductions(ARTICLES) {traduction} {par lang}>
    
	<li [ class="(#EXPOSE)"]>&#91;[(#EXPOSE{'',<a href="#URL_ARTICLE" rel="alternate" hreflang="#LANG"[ title="(#TITRE|attribut_html|couper{80})"]>})][(#LANG|traduire_nom_langue)]#EXPOSE{'',</a>}&#93;</span>
	]</BOUCLE_traductions>
    </ul>

</B_traductions>
</BOUCLE_article>
