<!--tab2 starts-->
            <div class="tab-pane #ENV{active} fade in" id="tab#ENV{tab}">
              <h3 class="heading-fancy">user experience design<span>The elements</span></h3>

              <!--feature list starts-->
              <ul class="list_4col">
                <li> [<img src="(#CHEMIN{img/icons/icon-32-applications.png})" width="32" height="32" alt="icon">
]
                  <h5>Visual Design</h5>
                  <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                </li>
                <li> [<img src="(#CHEMIN{img/icons/icon-32-coverflow.png})" width="32" height="32" alt="icon">
]
                  <h5>The Architecture</h5>
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie quam nunc consequat, vel illum dolore eu feugiat nulla facilisis.</p>
                </li>
                <li> [<img src="(#CHEMIN{img/icons/icon-32-create.png})" width="32" height="32" alt="icon">
]
                  <h5>Structuring</h5>
                  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation possim assum ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                </li>
              </ul>
              <!--feature list ends-->

            </div>
            <!--tab2 ends-->
