<BOUCLE_art(ARTICLES){id_article}>
        <!--tab1 starts-->
    <div class="tab-pane active fade in row" id="tab#ENV{tab}">


        <div class="span9">
           [ <h3 class="heading-fancy">

                (#SURTITRE)
                [(<span>(#SOUSTITRE)</span>]
            </h3>]

        [<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|image_reduire{690,*})</div>]
        [<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{690,*})</div>]
        [<div class="#EDIT{ps} ps alert alert-info"><hr />(#PS|image_reduire{690,*})</div>]


            <INCLURE{fond=inc/tabs/documents-tab}{id_article}>
	</div>

         </div>
            <!--tab1 ends-->
</BOUCLE_art>
