<BOUCLE_art(ARTICLES){id_article}>


            <!--tab4 starts-->
            <div class="tab-pane #ENV{active} fade in" id="tab#ENV{tab}">
                [<h3 class="heading-fancy">
                (#SURTITRE)
                [<span>(#SOUSTITRE)</span>]
                </h3>]
              <div class="row">
                <div class="span3">

                <B_documents_joints>
                    <ul class="spip">
                        <BOUCLE_documents_joints(DOCUMENTS) {id_article} {extension !IN gif,jpg,png} {vu=non}{par num titre, date}>[
                        <li>
			[(#LOGO_DOCUMENT|#URL_DOCUMENT)]		
                            <a href="(#URL_DOCUMENT)" type="#MIME_TYPE" class="spip_doc[ (#EXTENSION|attribut_html)]"><strong class="#EDIT{titre} titre">[(#TITRE|sinon{[(#FICHIER|basename|couper{80})]})]</strong>
                            <small class="info_document">([<abbr title="<:info_document:> #TYPE_DOCUMENT" class="ext">(#EXTENSION|strtoupper)</abbr> - ][<span>(#TAILLE|taille_en_octets)</span>])</small></a>
                            [<div class="#EDIT{descriptif} descriptif">(#DESCRIPTIF)</div>]
                        ]</li>
                        </BOUCLE_documents_joints>
                    </ul>
                </B_documents_joints>

                </div>
                <div class="span6">

                     [<div class="row">
                        <div class="#EDIT{chapo} span10 chapo surlignable">(#CHAPO|image_reduire{690,*})</div>
                    </div>]

                    [<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{690,*})</div>]
                    [<div class="#EDIT{ps} ps alert alert-info"><hr />(#PS|image_reduire{690,*})</div>]

                </div>
              </div>
            </div>
            <!--tab4 ends-->
</BOUCLE_art>
