   <div class="row"> 
   <!--main starts-->
        <div id="main" class="span8"> 
            
       <BOUCLE_posts(ARTICLES){id_rubrique}{!par date}{pagination 10}>
        <div class="multipost clearfix">
          [<h4 class="#EDIT{titre}">(#TITRE)</h4>]
          
        <INCLURE{fond=inc/article_meta}{id_article}>
          <span>#INTRODUCTION</span>
          <a href="#URL_ARTICLE" class="mybtn"><:readmore:></a> </div>
        
        </BOUCLE_posts>

        #PAGINATION
        </B_posts>
      </div>
      <!--main ends--> 
      
      <!--sidebar starts-->
      <div class="sidebar span4"> 
        
        <!--categories-->
        <B_subsec>
        <h3><:rubriques:></h3>
        <ul class="list-arrow">
        <BOUCLE_subsec(RUBRIQUES){id_parent=#ID_RUBRIQUE}{par num titre, titre}>
          <li><a href="#URL_RUBRIQUE">[(#TITRE|supprimer_numero)]</a></li>
         </BOUCLE_subsec>
        </ul>
        <div class="spacer-30px"></div>
        </B_subsec>
        
        
        #MODELE{article_traductions}
        
        <!--video widget-->
        [(#REM)
        <h3>Video Widget</h3>
        <iframe src="http://player.vimeo.com/video/7449107" width="220" height="150"></iframe>
        <div class="spacer-30px"></div>
        ]
        
        <!--tag coud-->
        <B_tags_cloud>
        <h3><:tags:></h3>
        <ul class="tags clearfix">
         <BOUCLE_tags_cloud(MOTS){id_groupe=2}>
          <li><a href="#URL_MOT">#TITRE</a></li>
          </BOUCLE_tags_cloud>
        </ul>
        <div class="spacer-30px"></div>
        </B_tags_cloud>
        
        [(#REM)
        <!--text widget-->
        <h3>Twitter feed</h3>
        <div id="twitter"></div>
        <div class="spacer-30px"></div>
        
        <!--text widget-->
        <h3>Text Widget</h3>
        <p>Suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
        <div class="spacer-30px"></div>
    ]
       
        <B_pop>
          <!--second accordion-group starts-->
          <div class="accordion-group">
            <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo"> <:popular_posts:></a> </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="unstyled">
                 <BOUCLE_pop(ARTICLES){id_rubrique}{!par popularite}{0, 4}>
                  <li>
                    <a href="#URL_ARTICLE"><h6>#TITRE</h6></a>
                    [<p>(#INTRODUCTION|couper{160})</p>]
                  </li>
                  </BOUCLE_pop>
                </ul>
              </div>
            </div>
          </div>
          </B_pop>
        </div>
        <!--accordion ends--> 
        
      </div>
      <!--sidebar ends--> 
    </div>      
      
