
    <!--team starts-->
    <div class="row">
      <div class="span12">
        <div class="heading-border">
          <h5><:team:></h5>
        </div>

    <B_art>
        <!--list starts-->
        <ul class="list_4col team">

        <BOUCLE_art(ARTICLES){id_rubrique}{titre_mot=Team}{par num titre}>

          <li><a href="#URL_ARTICLE">[<img src="(#LOGO_ARTICLE||image_passe_partout{300,180}|image_recadre{300,180,'top center'}|extraire_attribut{src})" >]</a>
            <ul class="list-border">
              <li>
                <h6 class="heading-fancy"><a href="#URL_ARTICLE">[(#TITRE|supprimer_numero)]</a>[<span>(#SOUSTITRE)</span>]</h6>
              </li>
              [(#REM)
                <li><a href="#">Facebook</a> / <a href="#">Twitter</a> / <a href="#">Mail</a></li>
              ]
              [<li>(#INTRODUCTION|couper{150})</li>]
            </ul>
          </li>
          <!--first member ends-->
         </BOUCLE_art>
        </ul>
        <!--list ends-->
    </B_art>

      </div>
    </div>
    <!--team ends-->
