<BOUCLE_meta(ARTICLES){id_article}>
<ul class="blog-meta clearfix">
            <li><:posted:>: <span>[(#DATE|affdate)]</span> / </li>
            <B_auteurs>
                <li><:by:>: <BOUCLE_auteurs(AUTEURS) {id_article} {par nom} {", "}>
                            <span class="vcard author">#NOM</span></BOUCLE_auteurs>
                </li>
            </B_auteurs>
         <B_tags>/ <li><:tags:>: <BOUCLE_tags(MOTS){id_article}{id_group=2}><a href="#URL_MOT">#TITRE</a></BOUCLE_tags></li>
          </ul>
</BOUCLE_meta>
