<ul class="breadcrumb">
        <li><a href="#URL_SITE_SPIP/"><:home:></a><span class="divider">/</span></li>

       <BOUCLE_ariane(HIERARCHIE){id_rubrique?}{id_article?}>
		 [(#COMPTEUR_BOUCLE|<{1})|?{'<li><a href="#URL_RUBRIQUE/">#TITRE</a><span class="divider">/</span></li>', ''})]
       </BOUCLE_ariane>
</ul>