<BOUCLE_contact(RUBRIQUES){id_rubrique}{tout}>

<div class="row">

      <!--address / map starts-->
      <div class="span7">
        <h3>[(#TITRE|supprimer_numero)]</h3>
        <div class="#EDIT{texte}">#TEXTE</div>

        <div class="spacer-20px"></div>

        <!--nested columns starts-->
        <BOUCLE_info(ARTICLES){id_rubrique}{0,1}{par id_article}>
        <div class="row #EDIT{texte}">
          #TEXTE
        </div>
        </BOUCLE_info>  
        <!--nested columns ends-->

      </div>
      <!--address / map ends-->

      <!--contact form starts-->
      <div class="span5">
            #FORMULAIRE_FORMIDABLE{1}        
      </div>
      <!--contact form starts-->

    </div>
</BOUCLE_contact>
