

<B_documents_portfolio>
    <!--4 column portfolio starts-->
    <div class="divider-dotted"></div>
    <div class="row">
        <div class="span12"> 
        <h3><:gallery:></h3>
        
    
        <ul class="portfolio_4column filter_content">
        
        <BOUCLE_documents_portfolio(DOCUMENTS){id_article?} {mode=document}{extension IN png,jpg,gif} {par num titre, date}{doublons}{vu=non}>

          <li class="capslide" data-id="id-1" data-type="cat1"> [<img src="(#FICHIER|image_passe_partout{300,180}|image_recadre{300,180,center}|extraire_attribut{src})" alt="image">] <a href="[(#URL_DOCUMENT)]" type="#MIME_TYPE" " data-rel="prettyPhoto[gallery1]" title="#DESCRIPTIF">
                <div class="overlay" style="display:none;"></div>
            </a>
            
            [(#REM)  detalle de la foto ? 
            <div class="ic_caption">
              <p><a href="portfolio-item.html" target="_blank">Businessman</a> <span>corporate . marketing</span></p>
            </div>
            ]
          </li>
        </BOUCLE_documents_portfolio>
        </ul>
        </div>
    </div>
    <!--4 column portfolio ends-->   
</B_documents_portfolio>
