
<!--other jqueries required--> 
[<script src="(#CHEMIN{js/bootstrap.js})" type="text/javascript"></script> ]
[<script src="(#CHEMIN{js/ddsmoothmenu.js})" type="text/javascript"></script> ]
[<script src="(#CHEMIN{js/jquery.capSlide.js})" type="text/javascript"></script> ]
[<script src="(#CHEMIN{js/jquery.validate.js})" type="text/javascript"></script> ]
[<script src="(#CHEMIN{js/jquery.form.js})" type="text/javascript"></script> ]
[<script src="(#CHEMIN{js/jquery.easing.1.3.js})" type="text/javascript" ></script> ]
[<script src="(#CHEMIN{js/custom.js})" type="text/javascript"></script>]
