<!-- footer starts
================================================== -->
<footer id="footer">
  <div class="container clearfix">
    <div class="row">

      <!--first footer column starts-->

    <BOUCLE_about(RUBRIQUES){id_rubrique IN (2, 7)}{lang}>
      <div class="span3">
        <div class="heading-border">
          <h6><:about:> Phasety</h6>
        </div>
        [<p>(#INTRODUCTION|couper{210}) <br> <a href="#URL_RUBRIQUE"><:readmore:></a>  </p>]
      </div>
      <!--first footer column ends-->
    </BOUCLE_about>

      <!--second footer column starts-->
      <div class="span3">
        <div class="heading-border">
          <h6><:know_us:></h6>
        </div>
        <div class="heading-border">

        <BOUCLE_staff(ARTICLES){id_rubrique IN 30,31}{par hasard}{lang}{0, 1}>

        [<a href="#URL_ARTICLE"><img src="(#LOGO_ARTICLE||image_passe_partout{220,130}|image_recadre{220,130, 'top center'}|image_nb|extraire_attribut{src})" ></a>]

                        <p><a href="#URL_ARTICLE">[(#TITRE|supprimer_numero)]</a> [ <span>(#SOUSTITRE)</span>]</p>

        </BOUCLE_staff>

        </div>
      </div>
      <!--second footer column ends-->

      <!--third footer column starts-->
      <div class="span3">
        <div class="heading-border">
          <h6>Menu</h6>
        </div>
        <ul class="custom-menu">

             <BOUCLE_raiz_foot(RUBRIQUES) {racine}{lang}>
              <BOUCLE_menu_foot(RUBRIQUES){id_parent}{par num titre, titre}{tout}>
                    [<li><a href="#URL_RUBRIQUE">(#TITRE|supprimer_numero)</a></li>]
                </BOUCLE_menu_foot>
              </BOUCLE_raiz_foot>
        </ul>
      </div>
      <!--third footer column ends-->

      <!--fourth footer column starts-->
      <div class="span3">
 <div class="heading-border">
          <h6><:last_tweet:></h6>
        </div>
        <a class="twitter-timeline"  href="https://twitter.com/phasety" data-widget-id="254237230745391108" data-chrome="noheader nofooter transparent noborders" data-tweet-limit="1" height="160"></a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



      </div>
    </div>
    <!--fourth footer column ends-->


    <!--copyright starts-->
    <div class="row">
      <div class="span12">
        <div class="copyright clearfix">
          <ul>
            <li>Phasety © Copyright <BOUCLE_yearbegin(ARTICLES){par date}{0,1}>
                                #SET{year, #DATE|annee} #GET{year}
                            </BOUCLE_yearbegin>
            [(#GET{year}|=={#DATE|annee}|?{'' , - #DATE|annee} )]</li>
            [(#REM)
                <li><a href="#">Terms</a> |</li>
                <li><a href="#">Privacy</a></li>]
          </ul>



          <!--copyright menu starts-->
          <ul class="copyright-menu">
            <li>
            Incubadora de Empresas de la Universidad Nacional de Córdoba, Argentina — +54 351 5353756 ext. 16480</a>
            </li>
          </ul>
          <!--copyright menu ends-->

        </div>
      </div>
      <!--copyright ends-->

    </div>
  </div>
</footer>
<!-- footer ends
================================================== -->
