    <!--comments starts-->
    <div class="row">
      <div class="span12">

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'phasety'; // required: replace example with your forum shortname

    <BOUCLE_disqus(ARTICLES){id_article}>
	    var disqus_identifier = 'article_id_#ID_ARTICLE';
	    var disqus_url = '[(#URL_ARTICLE|url_absolue)]';
	    var disqus_title = '[(#TITRE|texte_script)]';
        var disqus_developer = 1; // developer mode is on
    </BOUCLE_disqus>


            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        

      </div>
    </div>
    <!--comments ends-->
