<!-- header starts
================================================== -->
<section id="header" class="clearfix">

  <!--logo / top links starts-->
  <div class="container">
    <div class="row">

      <!--logo starts-->
      <div class="span4">[<a href="#URL_SITE_SPIP"><img src="(#CHEMIN{img/logo.png})" width="250" height="68" alt="#NOM_SITE_SPIP"></a>]</div>
      <!--logo ends-->

      <!--info-top starts-->
      <div class="span8">

        <ul class="info-top">
          <li>[<a href="http://twitter.com/phasety" class="social-bg"><img src="(#CHEMIN{img/icons/icon-twitter.png})" width="28" height="28" alt="twitter"></a>]</li>
          <li>[<a href="http://www.facebook.com/PhasetyUNC" class="social-bg"><img src="(#CHEMIN{img/icons/icon-facebook.png})" width="28" height="28" alt="facebook"></a>]</li>
          <li>[<a href="http://www.linkedin.com/company/phasety" class="social-bg"><img src="(#CHEMIN{img/icons/icon-linkedin.png})" width="28" height="28" alt="linkedin"></a>]</li>

        </ul>
      </div>
      <!--info-top ends-->

    </div>
  </div>
  <!--logo / top links ends-->

  <!--menu-wrapper starts-->
  <div class="menu-wrapper">
    <div class="container">
      <div class="row">

        <!--menu starts-->
        <div class="span8">
          <div id="smoothmenu" class="ddsmoothmenu">
            <ul>

              <li><a href="#URL_SITE_SPIP"><:home:></a></li>
              <BOUCLE_raiz(RUBRIQUES) {racine}{lang}>
              <BOUCLE_menu(RUBRIQUES){id_parent}{par num titre, titre}{tout}>
                  #SET{url,#URL_RUBRIQUE}
                  <BOUCLE_sinlink(MOTS){id_rubrique}{titre=menu_sinlink}>
                        #SET{url, '#'}
                  </BOUCLE_sinlink>
              <li><a href="#GET{url}"[ class="(#EXPOSE{selected})"]>[(#TITRE|supprimer_numero)]</a>

              <B_sub>
                <ul>
              <BOUCLE_sub(RUBRIQUES){id_parent}{!titre_mot=exclude_menu} {par num titre, titre}{tout}>
                <li><a href="#URL_RUBRIQUE">[(#TITRE|supprimer_numero)]</a>
              </BOUCLE_sub>
               </ul>
              </B_sub>
              </li>
              </BOUCLE_menu>
              </BOUCLE_raiz>
            </ul>
          </div>
        </div>
        <!--menu ends-->

        <!--button to right starts-->
        <div class="span4">
            
            [(#SET{view_in, <:view_in:>})]
            
            <BOUCLE_trans_art(ARTICLES){traduction}{exclus}{0,1}>
                <a href="#URL_ARTICLE" class="mybtn pull-right"><span>#GET{view_in} [(#LANG|traduire_nom_langue)]</span></a>
            </BOUCLE_trans_art>
            </B_trans_art>
            
                <BOUCLE_rub_pr(RUBRIQUES) {id_rubrique}>
                            <B_art_traduits>    
                            <BOUCLE_art_traduits(ARTICLES) {id_trad > 0} {id_rubrique} {par lang}>
                                <BOUCLE_trad(ARTICLES) {traduction} {exclus}>
                                    <BOUCLE_rub(RUBRIQUES) {id_rubrique} {doublons}>
                                        <a href="#URL_RUBRIQUE" class="mybtn pull-right"><span>#GET{view_in} [(#LANG|traduire_nom_langue)]</span></a>
                                    </BOUCLE_rub>
                                </BOUCLE_trad>
                            </BOUCLE_art_traduits>
                            </B_art_traduits>
                            <//B_art_traduits>
                </BOUCLE_rub_pr>
                </B_rub_pr>
                
                <BOUCLE_lang(RUBRIQUES){racine}{tout}{!lang}>
                    <a href="#URL_SITE_SPIP/?lang=#LANG" class="mybtn pull-right"><span>#GET{view_in} [(#LANG|traduire_nom_langue)]</span></a>
                </BOUCLE_lang>
            
                <//B_rub_pr>
                
            <//B_trans_art>    
            
                
            
        </div>
        <!--button to right ends-->

      </div>
    </div>
  </div>
  <!--menu-wrapper ends-->

</section>
<!-- header ends
================================================== -->
