
<meta charset="utf-8">
<meta name="description" content="<:slogan:>" />
<meta name="keywords" content="<:keywords:>"/>
<meta name="author" content="Phasety team" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />


<!--google web font-->
<link href='http://fonts.googleapis.com/css?family=Philosopher:400|Open+Sans:400,400italic,600' rel='stylesheet' type='text/css'>

<!--style sheet-->
[<link rel="stylesheet" media="screen" href="(#CHEMIN{css/bootstrap.css})"/>]
[<link rel="stylesheet" media="screen" href="(#CHEMIN{css/bootstrap-responsive.css})"/>]
[<link rel="stylesheet" media="screen" href="(#CHEMIN{css/style.css})"/>]

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]

#INSERT_HEAD_CSS

<!--jquery libraries / others are at the bottom-->
#INSERT_HEAD
[<script src="(#CHEMIN{js/modernizr.js})" type="text/javascript"></script>]
