<BOUCLE_destacados>
    <!--home-header-btm starts-->
  <div id="home-header-btm">
    <div class="container clearfix">
      <div class="row">

        <!--slider starts-->
        <div class="span12">

          <div id="da-slider" class="da-slider hidden-phone">

            <BOUCLE_destacados(ARTICLES){titre_mot=home_slider}{par num titre}>
            <!--slide one starts-->
            <div class="da-slide">
              <h2>#DESCRIPTIF</h2>
              <p>#CHAPO</p>
              [<div class="da-img"><img src="(#LOGO_ARTICLE||image_reduire{x,380}|extraire_attribute{src})" /></div>]
            </div>
            <!--slide one ends-->
        
            </BOUCLE_destacados>
          </div>

            [(#REM)
              <!--image for phone-->
               [<img src="(#CHEMIN{img/preview/slide-1.jpg})" alt="image" class="visible-phone"/>] 
            ]
            
               
            </div>
            <!--slider ends-->

      </div>
    </div>
  </div>
  <!--home-header-btm ends-->
</B_destacados>
