<BOUCLE_support(RUBRIQUES){id_rubrique IN (8)}{tout}{0,1}>
    <!--spacer here-->
    <div class="spacer-20px"></div>

    <!--support starts-->
    <div class="row">
      <div class="span12">
        <div class="heading-border">
          <h5>[(#TITRE|supprimer_numero)]</h5>
        </div>


        <!--client list starts-->
        <ul class="client clearfix">
        <BOUCLE_sup_arts(ARTICLES){id_rubrique}{par num titre, titre}>
          <li><a href="#URL_ARTICLE" title="[(#TITRE|supprimer_numero)]"><img src="[(#LOGO_ARTICLE|
                                                |image_passe_partout{140,80}
                                                |image_recadre{140,80,center}|extraire_attribut{src})]" width="138" height="88" alt="image"></a></li>
        </BOUCLE_sup_arts>

        </ul>
        <!--client list ends-->

      </div>
    </div>
    <!--support ends-->
</BOUCLE_support>
