<B_tabs_titles>
[(#REM) lista articulos en un tab list]

  <div class="spacer-40px"></div>
  <!--tabs content starts-->
    <div class="row">
      <div class="span12">
        <div class="heading-border">
          <h5><:contents:></h5>
        </div>

        <!--tabs starts-->
        <div class="tabbable tabs-left">

          <!--tab navigation starts-->
          <ul class="nav nav-tabs">

            <BOUCLE_tabs_titles(ARTICLES){id_rubrique}{titre_mot IN (tab1,tab2,tab3,tab4)}{par num titre, titre}>
                <li class="#COMPTEUR_BOUCLE[ (#COMPTEUR_BOUCLE|=={1}|?{active,''})]"><a href="#tab#COMPTEUR_BOUCLE" data-toggle="tab">[(#TITRE|supprimer_numero)]</a></li>
            </BOUCLE_tabs_titles>

          </ul>
          <!--tab navigation ends-->

          <!--tab content starts-->
          <div class="tab-content">


            <BOUCLE_tabs_content(ARTICLES){id_rubrique}{titre_mot IN (tab1,tab2,tab3,tab4)}{par num titre, titre}>
                [(#SET{active, [(#COMPTEUR_BOUCLE|=={1}|?{'active',''})]})]
		#SET{tab, #COMPTEUR_BOUCLE}
		
                <BOUCLE_tab1(ARTICLES){id_article}{titre_mot=tab1}>
                    <INCLURE{fond=inc/tabs/tab1}{id_article}{tab=#GET{tab}}>
                </BOUCLE_tab1>
                <BOUCLE_tab2(ARTICLES){id_article}{titre_mot=tab2}>
                    <INCLURE{fond=inc/tabs/tab2}{id_article}{tab=#GET{tab}}>
                </BOUCLE_tab2>
                <BOUCLE_tab3(ARTICLES){id_article}{titre_mot=tab3}>
                    <INCLURE{fond=inc/tabs/tab3}{id_article}{tab=#GET{tab}}>
                </BOUCLE_tab3>

                <BOUCLE_tab4(ARTICLES){id_article}{titre_mot=tab4}>
                    <INCLURE{fond=inc/tabs/tab4}{id_article}{tab=#GET{tab}}>
                </BOUCLE_tab4>
            </BOUCLE_tabs_content>


          </div>
          <!--tab content ends-->

        </div>
        <!--tabs ends-->

      </div>
    </div>
  <!--tabs content ends-->

</B_tabs_titles>
