<BOUCLE_what_we_do(ARTICLES){id_article IN (20,21)}{lang}>

<!--spacer here-->
    <div class="spacer-30px"></div>
    <div class="row">
      <!--services starts-->
      <div class="span12">
        <div class="heading-border">
          [<h5>(#TITRE|supprimer_numero)</h5>]
        </div>
        <!--nested columns starts-->
        <div class="row">
          <div class="#EDIT{texte} span4">

            #TEXTE

          </div>

        <div class="span8">
        <div class="flexslider image-slider clearfix btm-10px">

        	<ul class="slides">
			<BOUCLE_slides(ARTICLES){id_mot=3}{lang}>

              <li>[<img src="(#LOGO_ARTICLE||image_passe_partout{940,470}|image_recadre{940,470,center}|extraire_attribut{src})" width="940" height="470" alt="image">]
                <div class="flex-caption clearfix">
                  <h5><a href="#URL_ARTICLE">#TITRE</a></h5>
                  #DESCRIPTIF
                  </div>
              </li>
       		</BOUCLE_slides>
       		</ul>

            </div>
        </div>
        <!--nested columns ends-->

      </div>
      <!--services ends-->

</BOUCLE_what_we_do>
