<BOUCLE_post(ARTICLES){id_article}>
   <div class="row">
   <!--main starts-->
    <div id="main" class="fullpost span8">

    <h2 class="#EDIT{titre}">#TITRE</h2>
    <INCLURE{fond=inc/article_meta}{id_article}>

    [<div class="row">
            <div class="#EDIT{chapo} chapo surlignable">(#CHAPO|image_reduire{500,*})</div>
    </div>]


        [<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{600,*})</div>]
        [<div class="#EDIT{ps} ps alert alert-info"><hr />(#PS|image_reduire{500,*})</div>]



        <INCLURE{fond=inc/documents}{id_article}>

        <div class="divider-dotted"></div>


        <INCLURE{fond=inc/forum}{id_article}>

      </div>
      <!--main ends-->

      [(#REM) <INCLURE{fond=inc/sidebar}{env}>]

    </div>

</BOUCLE_post>
