
<BOUCLE_post(ARTICLES){id_article}>
  <!--fullpost starts-->
    <div class="row">
      <div class="span12 fullpost">
      	<INCLURE{fond=inc/breadcrumb}{env} />

        <h2 class="#EDIT{titre}">#TITRE</h2>
        [<div class="row">
            <div class="#EDIT{chapo} span10 chapo surlignable">(#CHAPO|image_reduire{500,*})</div>
        </div>]

        [<div class="#EDIT{texte} texte surlignable">(#TEXTE|image_reduire{600,*})</div>]
        [<div class="#EDIT{ps} ps alert alert-info"><hr />(#PS|image_reduire{500,*})</div>]



        <INCLURE{fond=inc/documents}{id_article}>
        <div class="divider-dotted"></div>
      </div>
    </div>
    <!--fullpost ends-->
</BOUCLE_post>